
.App,.jeucontainer,.joueur,.ordinateur{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}
.jeucontainer,.joueur,.ordinateur{
  row-gap: 20px;
  color:white;

}
.App-header {
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  background-color: #282c34;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 1.5rem;

}
.jeucontainer{
  width: 75%;
  height: 75vh;
  background-color: #282c34;
  font-size: 1.5rem;
}
.affichageresultat{
  display: flex;
  column-gap: 20px;
}
.imagechoix{
  width: 300px;
  height:300px;
  background-color:orange;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
.choixjoueur{
  display: flex;
  justify-content:center;
  align-items: center;
  column-gap: 50px;
}
.imagechoix img{
  object-fit:cover;
  width: 100%;
  height: 100%;
}
button{
  font-size: 1.5rem;

}


